<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bestread.app.bestread">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserFeed"
            android:label="News Feed" />
        <activity
            android:name=".WriteStatus"
            android:label="Write status"
            android:parentActivityName=".UserFeed" />
        <activity android:name=".User" />
        <activity android:name=".Notifications" />
        <activity android:name=".Search" />
        <activity
            android:name=".AuthorActivity"
            android:label="@string/title_activity_author" />
        <activity android:name=".BooksActivity" />
        <activity android:name=".ReviewActivity"></activity>
    </application>

</manifest>